.snap {
        border: 8px solid skyblue;
        width: 340;
        padding: 0%;
        height: 600;
        margin: 5px;

    } 
    
 #head {
      text-align: center;
      color: yellow;
      font-weight: bold;
      font-size: medium;
      font-family: 'Courier New', Courier, monospace;
 }