.snap {
        border: 8px solid skyblue;
        width: 340;
        padding: 0%;
        height: 600;
        margin: 5px;

    } 

 #head {
      text-align: center;
      color: navy;
      font-weight: bolder;
      font-size: larger;
      background-color:lemonchiffon; 
 }
   .video {
      border: 8px solid greenyellow;
      width: 340;
      padding: 0%;
      height: 600;
      margin: 5px;
   }
